.image-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

img{
    border-radius: 10px;
    width: 16rem;
    height: 16rem;
    margin: 0 10px 0 10px;
}