.image-card{
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 1rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

.d-button{
    margin: 10px 60px 0 60px;
    border-radius: 5px;

}